<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="SmartX | Events">
<meta name="author" content="TTS4 development team">
<title>SmartX | Events</title>
<div th:replace="fragments/header :: header-css"></div>
</head>

<body onload="checkCookie()" class="animsition">
	<div class="page-wrapper">
		<div th:replace="fragments/mobile_menu :: mobile_menu"></div>
		<div th:replace="fragments/menu_sidebar :: menu_sidebar"></div>

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<div th:replace="fragments/topbar :: topbar"></div>

			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="overview-wrap">
									<h2 class="title-2">Vehicle Events</h2>
								</div>
							</div>
						</div>
						<div class="m-b-15"></div>
						<div class="row">
							<div class="col-md-12 fa-pull-center">
								<!-- DATA TABLE -->
								<div class="table-data__tool-left m-b-15"></div>
								<div class="table-responsive table-responsive-data3 m-b-15">
									<div id="table-scroll" style="max-height: 579px">
										<table class="table table-borderless table-data3">
											<thead>
												<tr>
													<th class="fa-fw">Event Type</th>
													<th class="fa-fw">Timestamp</th>
													<th class="fa-fw">Latitude</th>
													<th class="fa-fw">Longitude</th>
													<th class="fa-fw">Pressure value</th>
													<th class="fa-fw">Pressure Type</th>
													<th class="fa-fw">Tire Position</th>
													<th class="fa-fw">Temperature Value</th>
												</tr>
											</thead>
											<tbody>
												<tr
													th:each="tireConditionTableForm : ${tireConditionTableFormList}"
													class="tr-shadow">
													<td class="fa-fw" th:text="${eventType}"></td>
													<td class="fa-fw"
														th:text="${#temporals.format(tireConditionTableForm.convertedTimestamp,'dd-MM-yyyy HH:mm')}"></td>
													<td class="fa-fw">
														<div
															th:if="${tireConditionTableForm.convertedLatitude != -1}">
															<div
																th:text="${tireConditionTableForm.convertedLatitude}"></div>
														</div>
														<div
															th:if="${tireConditionTableForm.convertedLatitude == -1}">NA</div>
													</td>
													<td class="fa-fw">
														<div
															th:if="${tireConditionTableForm.convertedLongitude != -1}">
															<div
																th:text="${tireConditionTableForm.convertedLongitude}"></div>
														</div>
														<div
															th:if="${tireConditionTableForm.convertedLongitude == -1}">NA</div>
													</td>
													<td class="fa-fw"
														th:text="${tireConditionTableForm.pressureValue}"></td>
													<td class="fa-fw">
														<div th:switch="${tireConditionTableForm.pressureType}">
															<div
																th:case="${T(smartx.data.events.TireCondition.TirePressureType).eTirePressureType_LowAirPressure}">Low
																Pressure</div>
															<div
																th:case="${T(smartx.data.events.TireCondition.TirePressureType).eTirePressureType_HighAirPressure}">High
																Pressure</div>
															<div
																th:case="${T(smartx.data.events.TireCondition.TirePressureType).eTirePressureType_Normal}">Normal
																Pressure</div>
															<div
																th:case="${T(smartx.data.events.TireCondition.TirePressureType).eTirePressureType_UpperBoundary}">-</div>
														</div>
													</td>
													<td class="fa-fw"
														th:text="${tireConditionTableForm.tirePosition}"></td>
													<td class="fa-fw"
														th:text="${tireConditionTableForm.temperatureValue}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- END DATA TABLE -->
								<div class="row">
									<div class="col-lg-12">
										<p>&nbsp;</p>
										<a
											th:href="@{'/vehicle/' + ${vehicleId} + '?requestEvents=false&requestLogs=false'}"><button
												type="button" class="btn btn-primary" style="float: left">
												<i class="fas fa-long-arrow-alt-left"></i>&nbsp; Return to
												vehicle
											</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT-->
			<!-- END PAGE CONTAINER-->
		</div>

	</div>

	<div th:replace="fragments/footer :: footer-scripts"></div>
</body>

</html>
<!-- end document-->
