<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="SmartX | Vehicle Details">
<meta name="author" content="TTS4 development team">
<title>SmartX | Vehicle Details</title>
<div th:replace="fragments/header :: header-css"></div>
</head>

<body onload="checkCookie()" class="animsition">
	<div class="page-wrapper">
		<div th:replace="fragments/mobile_menu :: mobile_menu"></div>
		<div th:replace="fragments/menu_sidebar :: menu_sidebar"></div>

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<div th:replace="fragments/topbar :: topbar"></div>

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="overview-wrap">
									<h2 class="title-2">Vehicle Details</h2>
								</div>
							</div>
						</div>
						<div class="m-b-15"></div>
						<div class="row">
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<strong style="float: left;">About</strong> <a
											th:href="@{'/vehicle/edit/' + ${viewedVehicle.id}}"
											class="btn-sm btn-primary" style="float: right"><i
											class="fas fa-pencil-square-o "></i>&nbsp; Edit</a>
									</div>
									<div class="card-body card-block">

										<div class="form-group">
											<label for="vat" class=" form-control-label">Vehicle
												Number</label> <input type="text"
												th:value="*{viewedVehicle.vehicleNumber}" id="vehicleNumber"
												class="form-control" disabled>
										</div>
										<div class="form-group">
											<label for="street" class=" form-control-label">VIN</label>

											<div th:switch="${viewedVehicle.status}">
												<div th:case="'VIN MISMATCH'">
													<input type="text"
														value="VIN mismatch! Please provide the correct VIN!"
														id="vin" style="color: red; font-weight: bold;"
														class="form-control" disabled>
												</div>
												<div th:case="*">
													<input type="text" th:value="*{viewedVehicle.vin}" id="vin"
														class="form-control" disabled>
												</div>
											</div>

										</div>
										<div class="form-group">
											<label for="street" class=" form-control-label">Vehicle
												Model</label> <input type="text"
												th:value="*{viewedVehicle.vehicleModel}" id="vehicleModel"
												class="form-control" disabled>
										</div>
										<div class="form-group">
											<label for="street" class=" form-control-label">Vehicle
												Colour</label> <input type="text"
												th:value="*{viewedVehicle.vehicleColour}" id="vehicleColour"
												class="form-control" disabled>
										</div>
										<p>&nbsp;</p>
										<div class="card">
											<div class="card-header">
												<strong style="float: left;">Device Details</strong>
											</div>
											<div class="card-body card-block">
												<div class="form-group">
													<label for="country" class=" form-control-label">BSW
														Version</label> <input type="text"
														th:value="*{newestDeviceConfiguration.bswVersion}"
														id="bswVersion" placeholder="-" class="form-control"
														disabled>
												</div>
												<div class="form-group">
													<label for="country" class=" form-control-label">ASW
														Version</label> <input type="text"
														th:value="*{newestDeviceConfiguration.aswVersion}"
														id="aswVersion" placeholder="-" class="form-control"
														disabled>
												</div>
												<div class="form-group">
													<label for="country" class=" form-control-label">Framework
														Version</label> <input type="text"
														th:value="*{newestDeviceConfiguration.frameworkVersion}"
														id="frameworkVersion" placeholder="-" class="form-control"
														disabled>
												</div>
												<div class="form-group">
													<label for="country" class=" form-control-label">SIM
														ICCID</label> <input type="text"
														th:value="*{newestDeviceConfiguration.simiccid}"
														id="simIccid" placeholder="-" class="form-control"
														disabled>
												</div>
												<div class="form-group">
													<label for="country" class=" form-control-label">URL</label>
													<input type="text"
														th:value="*{newestDeviceConfiguration.url}" id="url"
														placeholder="-" class="form-control" disabled>
												</div>
												<div class="form-group">
													<label for="company" class=" form-control-label">Device
														Serial Number</label> <input type="text"
														th:value="*{viewedVehicle.deviceSerialNumber}"
														id="deviceSerialNumber" class="form-control" disabled>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="card" style="height: 483px;">
									<div class="card-header">
										<strong>Vehicle Image</strong>
										<button disabled type="button" class="btn-sm btn-link"
											style="float: right;">&nbsp;</button>
									</div>
									<div class="card-body card-block">
										<div class="containerimg"
											style="max-height: 100%; overflow: hidden; text-align: center;">
											<img th:if="${vehicleImage != null}"
												th:attr="src=@{'data:image/jpeg;base64,'+${vehicleImage}}"
												alt="Vehicle image"
												style="height: 387px; object-fit: cover;"> <img
												th:if="${vehicleImage == null}"
												src="/static/icons/backgroundvisual.jpg" alt="Vehicle image"
												style="height: 387px; object-fit: cover;">
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<strong>Current Vehicle Status</strong>
									</div>
									<div class="card-body card-block">
										<div th:if="${mostRecentVehicleStatusEvent != null}">
											<div class="alert alert-primary" role="alert"
												style="overflow: hidden; white-space: nowrap;">
												<strong> Current odometer:&nbsp; <span
													style="display: inline"
													th:text="${mostRecentVehicleStatusEvent.odometer}"></span>&nbsp;
													km
												</strong>
											</div>
											<div class="alert alert-primary" role="alert"
												style="overflow: hidden; white-space: nowrap;">
												<strong> Current engine hours:&nbsp; <span
													style="display: inline"
													th:text="${mostRecentVehicleStatusEvent.engineHours}"></span>&nbsp;
													hours
												</strong>
											</div>
										</div>
										<div th:if="${mostRecentVehicleStatusEvent == null}">
											<div class="alert alert-primary" role="alert"
												style="overflow: hidden; white-space: nowrap;">
												<strong> Current odometer:&nbsp; - </strong>
											</div>
											<div class="alert alert-primary" role="alert"
												style="overflow: hidden; white-space: nowrap;">
												<strong> Current engine hours:&nbsp; - </strong>
											</div>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<strong>Driver</strong>
									</div>
									<div class="card-body card-block">
										<div th:if="${assignedDriver != null}">
											<div class="alert alert-primary" role="alert"
												style="overflow: hidden; white-space: nowrap;">
												<strong> Corresponding Driver:&nbsp; <a
													th:text="${assignedDriver.driverUsername}"
													style="display: inline"
													th:href="@{'/driver/' + ${assignedDriver.id}}"></a>
												</strong>
											</div>
										</div>
										<div th:if="${assignedDriver == null}">
											<div class="alert alert-primary" role="alert"
												style="overflow: hidden; white-space: nowrap;">
												<strong> Corresponding Driver:&nbsp; - </strong>
											</div>
										</div>
									</div>
								</div>
								<div th:if="${displayViewButtons and displayRequestButtons}">
									<a th:href="@{'/vehicle/tracking/' + ${viewedVehicle.id}}"
										class="btn btn-primary btn-lg btn-block">View Vehicle
										Tracking</a> <a
										th:href="@{'/vehicle/' + ${viewedVehicle.id} + '?requestEvents=true&requestLogs=false'}"
										class="btn btn-primary btn-lg btn-block">Request Events</a>
									<div th:if="${!viewedVehicle.exportLogsInProgress}"
										style="margin-top: 10px;">
										<a
											th:href="@{'/vehicle/' + ${viewedVehicle.id} + '?requestEvents=false&requestLogs=true'}"
											class="btn btn-primary btn-lg"
											style="width: 49%; float: left; overflow: hidden;">Request
											Extract Logs</a> <a th:href="${url}"
											target="_blank" class="btn btn-primary btn-lg"
											style="width: 49%; float: right; overflow: hidden;">View
											Logs Archive</a>
									</div>
									<div th:if="${viewedVehicle.exportLogsInProgress}"
										style="margin-top: 10px;">
										<button type="button" class="btn btn-primary btn-lg"
											style="width: 49%; float: left; overflow: hidden;" disabled>Extracting
											Logs...</button>
										<a th:href="${url}" target="_blank"
											class="btn btn-primary btn-lg"
											style="width: 49%; float: right; overflow: hidden;">View
											Logs Archive</a>
									</div>
								</div>
								<div th:if="${!displayViewButtons and !displayRequestButtons}">
									<button type="button" class="btn btn-primary btn-lg btn-block"
										style="pointer-events: none;" disabled>View Vehicle
										Tracking</button>
									<button type="button" class="btn btn-primary btn-lg btn-block"
										style="pointer-events: none;" disabled>Request Events</button>
									<div style="margin-top: 10px;">
										<button type="button" class="btn btn-primary btn-lg"
											style="width: 49%; float: left; pointer-events: none; overflow: hidden;"
											disabled>Request Extract Logs</button>
										<button type="button" class="btn btn-primary btn-lg"
											style="width: 49%; float: right; pointer-events: none; overflow: hidden;"
											disabled>View Logs Archive</button>
									</div>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<div>
										<p style="color: red; font-size: 80%;">* The options are
											disabled because the vehicle registration has not been
											completed</p>
									</div>
								</div>
								<div th:if="${displayViewButtons and !displayRequestButtons}">
									<a th:href="@{'/vehicle/tracking/' + ${viewedVehicle.id}}"
										class="btn btn-primary btn-lg btn-block">View Vehicle
										Tracking</a>
									<button type="button" class="btn btn-primary btn-lg btn-block"
										disabled>Request Events</button>
									<div style="margin-top: 10px;">
										<button type="button" class="btn btn-primary btn-lg"
											style="width: 49%; float: left; overflow: hidden;" disabled>Request
											Extract Logs</button>
										<a th:href="${url}" target="_blank"
											class="btn btn-primary btn-lg"
											style="width: 49%; float: right; overflow: hidden;">View
											Logs Archive</a>
									</div>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<div>
										<p style="color: red; font-size: 80%;">* The requests are
											disabled because connection is unavailable</p>
									</div>
								</div>
							</div>
						</div>
						<p>&nbsp;</p>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<strong>Vehicle Configuration</strong>
									</div>
									<div class="card-body card-block">
										<div th:object="${newestVehicleConfiguration}">
											<div class="row form-group">
												<div class="col col-md-2">
													<label class=" form-control-label">Tire Condition</label>
												</div>
												<div class="col col-md-1">
													<label class="switch switch-3d switch-primary mr-3">
														<input type="checkbox" th:field="*{tireCondition}"
														class="switch-input" checked="true" disabled> <span
														class="switch-label"></span> <span class="switch-handle"></span>
													</label>
												</div>
												<div class="col col-md-9">
													<label class=" form-control-label">The device shall
														continuously monitor the tire pressure messages in order
														to detect tire pressure alarm events.</label>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-2">
													<label class=" form-control-label">Fuel Consumption</label>
												</div>
												<div class="col col-md-1">
													<label class="switch switch-3d switch-secondary mr-3">
														<input type="checkbox" th:field="*{fuelConsumption}"
														class="switch-input" checked="true" disabled> <span
														class="switch-label"></span> <span class="switch-handle"></span>
													</label>
												</div>
												<div class="col col-md-9">
													<label class=" form-control-label">The device shall
														acquire, record and maintain the fuel consumption value,
														as received on the vehicle bus interface.</label>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-2">
													<label class=" form-control-label">DTC</label>
												</div>
												<div class="col col-md-1">
													<label class="switch switch-3d switch-success mr-3">
														<input type="checkbox" th:field="*{dtc}"
														class="switch-input" checked="true" disabled> <span
														class="switch-label"></span> <span class="switch-handle"></span>
													</label>
												</div>
												<div class="col col-md-9">
													<label class=" form-control-label">Diagnostic code
														is considered to be active whenever at least one of
														Malfunction Indicator Lamp Status, Red Stop Lamp Status,
														Amber Warning Lamp Status, Protect Lamp Status is On.</label>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-2">
													<label class=" form-control-label">Over Speed</label>
												</div>
												<div class="col col-md-1">
													<label class="switch switch-3d switch-warning mr-3">
														<input type="checkbox" th:field="*{overSpeed}"
														class="switch-input" checked="true" disabled> <span
														class="switch-label"></span> <span class="switch-handle"></span>
													</label>
												</div>
												<div class="col col-md-9">
													<label class=" form-control-label">When the device
														detects that the vehicle speed acquired from the vehicle
														bus interface is higher than the over speed trigger an
														event shall be stored in the database.</label>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-2">
													<label class=" form-control-label">Over RPM</label>
												</div>
												<div class="col col-md-1">
													<label class="switch switch-3d switch-info mr-3"> <input
														type="checkbox" th:field="*{overRpm}" class="switch-input"
														checked="true" disabled> <span
														class="switch-label"></span> <span class="switch-handle"></span>
													</label>
												</div>
												<div class="col col-md-9">
													<label class=" form-control-label">When the device
														detects that the vehicle RPM acquired from the vehicle
														interface is higher than the over RPM trigger an event
														shall be stored in the database.</label>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-2">
													<label class=" form-control-label">Harsh
														Acceleration</label>
												</div>
												<div class="col col-md-1">
													<label class="switch switch-3d switch-danger mr-3">
														<input type="checkbox" th:field="*{harshAcceleration}"
														class="switch-input" checked="true" disabled> <span
														class="switch-label"></span> <span class="switch-handle"></span>
													</label>
												</div>
												<div class="col col-md-9">
													<label class=" form-control-label">The device shall
														calculate the vehicle acceleration based on the vehicle
														speed data from two consecutive seconds. If the calculate
														value is above the harsh acceleration limit an event shall
														be stored in the database.</label>
												</div>
											</div>
											<div class="row form-group">
												<div class="col col-md-2">
													<label class=" form-control-label">Harsh Breaking</label>
												</div>
												<div class="col col-md-1">
													<label class="switch switch-3d switch-primary mr-3">
														<input type="checkbox" th:field="*{harshBreak}"
														class="switch-input" checked="true" disabled> <span
														class="switch-label"></span> <span class="switch-handle"></span>
													</label>
												</div>
												<div class="col col-md-9">
													<label class=" form-control-label">The device shall
														calculate the vehicle acceleration based on the vehicle
														speed data from two consecutive seconds. If the calculate
														value is bellow the harsh braking an event shall be stored
														in the database.</label>
												</div>
											</div>


											<div class="row form-group">
												<div class="col col-md-2">
													<label class=" form-control-label">Online Report
														Frequency</label>
												</div>
												<div class="col col-md-2">
													<label style="width: 70px; height: 15px;"> <input
														type="number" th:field="*{onlineFrequencyInterval}"
														id="onlineRepFreq" placeholder="15" required=""
														class="form-control" min="0"
														oninput="validity.valid||(value='');" disabled>
													</label> <label for="onlineRepFreq"
														class="pr-1  form-control-label">&nbsp; minutes</label>
												</div>
											</div>



											<div class="row form-group">
												<div class="col col-md-2">
													<label for="textarea-input" class=" form-control-label">Description</label>
												</div>
												<div class="col col-md-3">
													<textarea name="textarea-input" th:field="*{description}"
														id="textarea-input" rows="5" placeholder="Description..."
														class="form-control" disabled></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div th:if="${mostRecentEventsList.size() != 0}" class="row">
									<div class="col-md-12">
										<div class="card">
											<div class="card-header">
												<strong>The Last Event Of Each Type</strong>
											</div>
											<div class="card-body card-block">
												<!-- DATA TABLE-->
												<div class="table-responsive table-responsive-data3 m-b-15">
													<div id="table-scroll" style="max-height: 400px">
														<table class="table table-borderless table-data3">
															<thead>
																<tr>
																	<th class="fa-fw">Date</th>
																	<th class="fa-fw">Event Type</th>
																	<th class="fa-fw">Latitude</th>
																	<th class="fa-fw">Longitude</th>
																	<th class="fa-fw">Actions</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="mostRecentEvent : ${mostRecentEventsList}"
																	class="tr-shadow" style="height: 54px;">
																	<td class="fa-fw"
																		th:text="${#temporals.format(mostRecentEvent.localDateTime,'dd-MM-yyyy HH:mm')}"></td>
																	<td class="fa-fw" th:text="${mostRecentEvent.typeName}"></td>
																	<td class="fa-fw">
																		<div th:if="${mostRecentEvent.latitude != -1}">
																			<div th:text="${mostRecentEvent.latitude}"></div>
																		</div>
																		<div th:if="${mostRecentEvent.latitude == -1}">NA</div>
																	</td>
																	<td class="fa-fw">
																		<div th:if="${mostRecentEvent.longitude != -1}">
																			<div th:text="${mostRecentEvent.longitude}"></div>
																		</div>
																		<div th:if="${mostRecentEvent.longitude == -1}">NA</div>
																	</td>
																	<td class="fa-fw">
																		<div class="table-data-feature justify-content-center">
																			<a
																				th:href="@{'/vehicle/' + ${viewedVehicle.id} + '/event/' + ${mostRecentEvent.typeValue}}"
																				class="item" data-toggle="tooltip"
																				data-placement="top" title="See all"> <i
																				class="zmdi zmdi-view-list"></i>
																			</a>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>

										<!-- END DATA TABLE-->
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT-->
			<!-- END PAGE CONTAINER-->
		</div>
	</div>

	<div th:replace="fragments/footer :: footer-scripts"></div>
</body>

</html>
<!-- end document-->
